p{
    color: blue;
    background-color: burlywood;
    margin: 10px 20px;
}

h2{
    color: red;
    background-color: yellow;
}
h3{
    color: orangered;
    background-color: black;
}
h1{
    color: olivedrab;
    background-color: peachpuff;
    border: 8px solid yellow;
    border-left: 8px solid red;
    margin: 20px 10px;
}
small{
    color: rgb(62, 216, 216);
}
.blog{
    background-color: rosybrown;
    border: 6px solid yellow;
    border-radius: 15px;

   
    padding: 20px 10px 50px 100px;
    
    <!-- margin: 20px 10px 50px 100px;-->
    margin-top:10px;
    margin-right:50px;
    margin-bottom:30px;
    margin-left:100px;
    
   
}
.blog-title{
    text-align: center;
}
.author-name{
    color: blue;
}
.blog p{
    color: red;
    text-align: justify;
}